Source: ayatana-indicator-sound
Section: sound
Priority: extra
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 9.0),
               cmake,
               cmake-extras (>= 0.10),
               dbus,
               dbus-test-runner (>> 14.04.0+14.04.20150120.1),
               gcovr,
               gir1.2-accountsservice-1.0,
               mate-common,
               gsettings-ubuntu-schemas | mate-common,
               liburl-dispatcher-dev | mate-common,
               libunity-api-dev | mate-common,
               googletest | google-mock (>= 1.6.0+svn437),
               intltool,
               autotools-dev,
               valac (>= 0.20),
               lcov,
               libaccountsservice-dev,
               libdbustest1-dev (>= 15.04.0),
               libgirepository1.0-dev,
               libglib2.0-dev (>= 2.32.0),
               libqtdbusmock1-dev (>= 0.3),
               libqtdbustest1-dev,
               libpulse-dev (>= 5.0),
               libpulse-mainloop-glib0 (>= 0.9.18),
               libnotify-dev,
               libgee-0.8-dev,
               libxml2-dev,
               pulseaudio,
               python3-dbusmock,
               qt5-default,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               systemd,
Standards-Version: 3.9.8
Homepage: https://github.com/ArcticaProject/ayatana-indicator-sound
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-sound.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-sound.git/

Package: ayatana-indicator-sound
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         pulseaudio,
         ayatana-indicator-common,
Recommends: unity-control-center | gnome-control-center | ubuntu-system-settings | pavucontrol | mate-media,
            accountsservice,
Suggests: unity-greeter-session-broadcast,
Description: Ayatana Indicator for managing system sound
 Ayatana Indicator Sound that provides easy control of the PulseAudio
 sound daemon.
